<!--HOME-->
<section id="sec_1" class="autoheight">
    <!--SLIDER-->
    <!-- <div id="slides">
            <div class="slides-container">
                <img src="assets/img/slider/globe.jpg">
                <img src="assets/img/slider/globe.jpg">
                <img src="assets/img/slider/globe.jpg">
            </div>
            <nav class="slides-navigation">
                <a href="#" class="next fa fa-2x fa-chevron-right"></a>
                <a href="#" class="prev fa fa-2x fa-chevron-left"></a>
            </nav>
        </div> -->
    <!--/SLIDER-->
    <div class="home-bg-under acc">
        <div class="home-bg-over acc"></div>
    </div>
    <div class="col-lg-12 landing-text-pos align-center hide" style="margin-top:-30px">
        <!-- <img src="http://missionsplace.com/files/2012/01/PSP_logo.png" height="200px"> -->
        <div>
            <h1 class="wow animated fadeInDown acc" data-wow-duration="1s" data-wow-delay="300ms">Experience the Glory of God</h1>
            <!-- <img src="http://waymakers.org/wp-content/uploads/2011/12/perspectives-frontpage21-390x388.png" height="60px" style="vertical-align:middle; position:absolute; margin-top:5px; margin-left:-70px" />Denton Perspectives 2016</h1> -->
        </div>
        <!--             <hr id="title_hr"> -->
        <div class="clearfix">
            <br>
            <br>
            <p class="wow animated fadeInUp p-location" data-wow-duration="1s" data-wow-delay="1s">
                January 11th, 2016
                <br>The Village Church - Denton
            </p>
            <br>
            <br>
            <div class="clearfix">
                <a class="learn-more-btn btn-effect wow animated fadeIn blue" style="display:inline-block" href="http://goo.gl/forms/ugycFbFb95" target="_blank">RSVP</a>
                <a class="learn-more-btn btn-effect wow animated fadeIn blue" style="display:inline-block" href="https://class.perspectives.org/Visitor/MakeADifference.aspx?RegisterNewUser=1&ClassId=432839&ClassPricingId=" target="_blank">Register</a>
            </div>
        </div>
</section>
<section class="features text-center" id="features" ng-include="'/app/home/partials/_features.html'">
</section>
<section class="intro text-center section-padding" id="intro" ng-include="'/app/home/partials/_about.html'">
</section>
<section class="team text-center section-padding" id="team" ng-include="'/app/home/partials/_partners.html'">
</section>
<section class="swag text-center section-padding" id="partners">
    <div class="">
        <div class="clearfix scripture">
            <p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                For the earth will be filled with the knowledge of the glory of the Lord as the waters cover the sea
                <br>
                <br> Habakkuk 2:14
            </p>
        </div>
    </div>
</section>
<section class="text-center section-padding" id="responsive" ng-include="'/app/home/partials/_schedule.html'">
</section>
<section class="team text-center section-padding" id="team" ng-include="'/app/home/partials/_speakers.html'">
</section>
<section id="portfolio" class="portfolio text-center section-padding" ng-include="'/app/home/partials/_pricing.html'">
</section>
<!--/PRICING-->
<!--REGISTER FORM-->
<!-- <section id="swag" class="swag text-center">
  <div ng-include="'/app/home/partials/_register.html'"></div>
</section> -->
<!-- /REGISTER FORM -->
<!--SPONSORS-->
<!-- <div id="sponsers" class="ignite-cta text-center section-padding" ng-include="'/app/home/partials/_partners.html'">
</div> -->
<section class="text-center section-padding contact-wrap" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
                <h1 class="arrow">
                            Contact
                        </h1>
                <hr>
                <p>
                    Please contact Daniel and Lauren Bodnar with any questions:
                </p>
            </div>
        </div>
        <div class="row contact-details">
            <div class="col-md-6 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.7s">
                <div class="light-box box-hover">
                    <h2>
                                <span>Daniel</span>
                            </h2>
                    <p>
                        Phone: <a href="tel:2603488789">260-348-8789</a>
                        <br> Email: <a href="#">daniel.bodnar@perspectives.org</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.9s">
                <div class="light-box box-hover">
                    <h2>
                                <span>Lauren</span>
                            </h2>
                    <p>
                        Phone: <a href="tel:9405946936">940-594-6936</a>
                        <br> Email: <a href="#">lauren.n.bodnar@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <!--         <div class="row">
            <a id="get_directions" class="learn-more-btn btn-effect" href="#"><i class="fa fa-map-marker"></i><span>Get Directions</span></a>
        </div> -->
    </div>
</section>
