<ul class="nav navbar-nav">
    <li>
        <a data-scroll href="#intro">About</a>
    </li>
    <li>
        <a data-scroll href="#responsive">Course Overview</a>
    </li>
    <li>
        <a data-scroll href="#team">Instructors</a>
    </li>
    <li>
        <a data-scroll href="#portfolio">Pricing</a>
    </li>
    <li>
        <a data-scroll href="#contact" style="">Contact</a>
    </li>
    <li class="hidden">
        <a href="#sec_1">Home</a>
    </li>
</ul>
