<div class="modal-header model-primary">
    <h2 class="modal-title">RSVP for Perspectives 2015</h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="name">Name</label>
                    <div class="col-md-10">
                        <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Email</label>
                    <div class="col-md-10">
                        <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Phone</label>
                    <div class="col-md-10">
                        <input type="text" name="phone[1][number]" class="form-control" placeholder="+1 (999) 999 9999" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-danger btn-effect wow animated fadeIn pull-left" ng-click="cancel()">Cancel</a>
    <a class="btn btn-success btn-effect wow animated fadeIn" ng-click="save()">RSVP</a>
</div>
