<!--/PRELOADER-->
<!--HEADER-->
<div class="header header-hide">
    <div class="top_line"></div>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation" smooth-scroll easing="easeInOutCubic" offset="1000">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="toggle()">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-scroll href="#sec_1">
                    <img src="assets/img/PerspectivesLogo.png" alt="logo"></a>
            </div>
            <div class="navbar-collapse" id="example-navbar-collapse" uib-collapse="isCollapsed && isMobile">
                <ul class="nav navbar-nav">
                    <li>
                        <a data-scroll href="#intro">About</a>
                    </li>
                    <li>
                        <a data-scroll href="#responsive">Course Overview</a>
                    </li>
                    <li>
                        <a data-scroll href="#team">Instructors</a>
                    </li>
                    <li>
                        <a data-scroll href="#portfolio">Pricing</a>
                    </li>
                    <li>
                        <a data-scroll href="#contact" style="">Contact</a>
                    </li>
                    <li class="hidden">
                        <a href="#sec_1">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!--/HEADER-->
