<div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="col-lg-12">
        <div class="col-lg-12 align-center about">
            <h1 class="arrow">Are you hungry to live a life of greater Kingdom impact?</h1>
            <hr>
            <h2>If someone told you that a few hours a week for 15 weeks would <span style="text-decoration:underline">radically impact</span> and <span style="text-decoration:underline">fundamentally shift</span> the direction of your life, would you be interested?</h2>
            <br>
            <br>
            <div class="col-lg-8 align-center">
                <iframe class="embedded-video" width="100%" ratio="1.775" src="https://www.youtube.com/embed/h6a-uSBHu9A" frameborder="0" allowfullscreen></iframe>
            </div>
            <br>
            <hr>
            <p>Perspectives on the World Christian Movement is a fifteen week course, led by 15 different instructors (professors, church plantors, ground-level missionaries, ministry experts and pastors from all over the US), about <strong>God's ultimate purpose</strong> and the <strong>role every believer</strong> plays in the Kingdom of God. It's split up into 4 dimensions: Biblical, Historical, Cultural, and Strategic.</p>
            <br>
            <br>
            <p>This course will expand your vision and may forever change the way you view your purpose and the world around you. It will open your eyes to God's heart and plan for his people, and how you can take part in what He is doing all over the world - from the urban streets of America to the rain forests and deserts of distant lands. </p>
        </div>
    </div>
</div>
