<div class="container">
    <div>
        <div class="col-lg-12  align-center col-md-12 features-md" style="padding-bottom:50px">
            <div class="features-wrapper">
            <div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="icon">
                        15
                    </div>
                    <h2>
                                       Renowned  instructors
                                    </h2>
                    <p>
                        Learn firsthand from church planters, pastors, professors, biblical scholars, mobilizers, theologians, missiologists and missionaries.
                    </p>
                </div>
                <div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                    <div class="icon">
                        4
                    </div>
                    <h2>
                                        Life-changing Perspectives
                                    </h2>
                    <p>
                        In depth study of the Biblical, Historical, Cultural and Strategic Dimensions
                    </p>
                </div>
                <div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                    <div class="icon">
                        1
                    </div>
                    <h2>
                                        Glorious Story
                                    </h2>
                    <p>
                        We're threaded into the greatest story of all time and you have a significant role to play!
                    </p>
                </div>
                
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
