<div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="col-lg-12">
        <div class="col-lg-12 align-center wow animated fadeInLeft">
            <h1 class="arrow">
                            Our Partners
                        </h1>
            <hr>
            <p>
                The following churches, student ministries and parachurch oranizations have partnered with us to train, equip, and mobilize the body of Christ in Denton
            </p>
            <br><br><br>
        </div>
        <!-- Jssor Slider Begin -->
            <div class="logos">
                <img src="/assets/img/tvc-transparent-logo.png" />
                <img src="/assets/img/c3logo3.jpg" /><br><br>
                <img src="/assets/img/zeralogo.png" style="padding-left:25px" />
                <img src="/assets/img/cru.jpg" style="padding-left:30px; padding-right:25px"/>
                <img src="/assets/img/twubsm.png" style="" />
            </div>
        <!-- Jssor Slider End -->
    </div>
</div>
