<div class="container" init>
  <div class="row">
    <div class="col-md-12">
      <h1 class="arrow">
                            Cost
                        </h1>
      <hr>
      <p>
        While Perspectives is coordinated by volunteers, the price of the class covers the cost of books, instructor expenses and honorarium, in-class activities, and grader honorariums.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="pricing-wrap">
      <ul class="slides">
        <li>
          <div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
            <ul class="planContainer">
              <li class="title">
                <h2>
                                                $250
                                            </h2>
              </li>
              <li class="price">
                <p>
                  Key Reading
                </p>
              </li>
              <li>
                <ul class="options">
                  <li>
                    Please contact us for more information.
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="btn-effect" href="https://class.perspectives.org/Visitor/MakeADifference.aspx?RegisterNewUser=1&ClassId=432839&ClassPricingId=34727">Register</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <ul class="planContainer">
              <li class="title">
                <h2 class="bestPlanTitle">
                                                $250
                                            </h2>
              </li>
              <li class="price">
                <p class="bestPlanPrice">
                  Certificate
                </p>
              </li>
              <li>
                <ul class="options">
                  <li>
                    Please contact us for more information.
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="bestPlanButton btn-effect" href="https://class.perspectives.org/Visitor/MakeADifference.aspx?RegisterNewUser=1&ClassId=432839&ClassPricingId=34726">Register</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.7s">
            <ul class="planContainer">
              <li class="title">
                <h2>
                                                $500
                                            </h2>
              </li>
              <li class="price">
                <p>
                  College Credit
                </p>
              </li>
              <li>
                <ul class="options">
                  <li>
                    Please contact us for more information.
                  </li>
                </ul>
              </li>
              <li class="button">
                <a data-scroll class="btn-effect" href="https://class.perspectives.org/Visitor/MakeADifference.aspx?RegisterNewUser=1&ClassId=432839&ClassPricingId=34728">Register</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
