
        <div class="container">
            <div class="row">
                <div class="col-lg-8 wow animated fadeInUp align-center" data-wow-duration="1s" data-wow-delay="1s">
                    <h1 class="arrow">
                            Instructors
                        </h1>
                    <hr>
                    <p>
                        Perspectives is taught by 15 renowned instructors - experienced, ground-level church planters, pastors, professors, biblical scholars, mobilizers, theologians, missiologists, business-as-mission CEOs and missionaries!
                    </p><br><br>
                    <h2><strong>Lineup coming soon</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="speakers-wrap">
                    <div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg')">
                                <!-- <img src="https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                            Andy Kampman
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('assets/img/team/vicanderson.jpg')">
                                <!-- <img src="assets/img/team/vicanderson.jpg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                            Vic Anderson
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('assets/img/team/johnray.jpg')">
                                <!-- <img src="assets/img/team/johnray.jpg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                           John Ray
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="speakers-wrap">
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="clearfix">
                            <div class="img thumb" style="background-image:url('https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg')">
                                <!-- <img src="https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                            Phillip Nelson
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('assets/img/team/darrellmaclearn.png')">
                                <!-- <img src="assets/img/team/darrellmaclearn.png" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                            Darrell MacLearn
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('assets/img/team/allystokes.jpg')">
                                <!-- <img src="assets/img/team/allystokes.jpg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                            Ally Stokes
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg')">
                                <!-- <img src="https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                           Phillip Bleecker
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="speakers-wrap">
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('assets/img/team/davidjackett.jpg')">
                                <!-- <img src="assets/img/team/davidjackett.jpg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                           David Jackett
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg')">
                                <!-- <img src="https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                            Leonie Kent
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg')">
                                <!-- <img src="https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                            Richard
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('assets/img/team/johnzumwalt.jpg')">
                                <!-- <img src="assets/img/team/johnzumwalt.jpg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                           John Zumwalt
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="speakers-wrap">
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg')">
                                <!-- <img src="https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                            Jimmy Dorrell
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg')">
                                <!-- <img src="https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                            Brian Jamison
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg')">
                                <!-- <img src="https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                           Doug Shaible
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                        <div class="overlay-effect effects clearfix">
                            <div class="img thumb" style="background-image:url('https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg')">
                                <!-- <img src="https://pbs.twimg.com/profile_images/2151538450/facebook-blank-face-blank.jpeg" alt="Portfolio Item"> -->
                                <div class="overlay">
                                    <button class="md-trigger expand" data-modal="modal-9">
                                        <i class="fa fa-search"></i>
                                        <br> View More
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2>
                                           Todd Ahrend
                                        </h2>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
            <!--Row Ends Here-->
        </div>
        <!-- Example Speaker -->
        <div class="md-modal md-effect-9" id="modal-9">
            <div class="md-content">
                <div class="folio">
                    <div class="avatar"></div>
                    <div class="sp-name">
                        <strong>Mark Anderson</strong>
                        <br> Director, ABC
                    </div>
                    <div class="sp-dsc">
                        This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
                        <blockquote>
                            <p>
                                Here is a long quotation here is a long quotation proin gravida nibh vel velit auctor aliquet aenean sollicitudin.
                            </p>
                        </blockquote>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    </div>
                    <div class="sp-social">
                        <ul>
                            <li>
                                <a href="#" class="social-btn"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="social-btn"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <button class="md-close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="md-overlay"></div>
        <!-- /Example Speaker -->